<!-- Create a new XPDF sample -->
<button name="submit" value="1" type="submit" class="button submit"><i class="fa fa-plus"></i>New Sample</button>



<!-- A hidden form to send to create a new, empty sample -->
<!-- <form action="/api/sample" method="post" enctype="multipart/form-data"> -->
<!-- 	<input type="hidden" name="ACRONYM" value="newxpdfsample"/> -->
<!--     <input type="hidden" name="NAME" value="newxpdfsample"/> -->
<!-- 	<input type="hidden" name="PROTEINID" value="0"/> -->
<!-- 	<input type="hidden" name="LOCATION" value="0"/> -->
<!-- 	<input type="hidden" name="CONTAINERID" value="0"/> -->
<!-- </form> -->