<table>
	<tr>
		<td class="renderable">Monochromator Bandwidth: </td><td class="renderable"><span class="MONOBANDWIDTH"><%=MONOBANDWIDTH%></span></td><td></td>
	</tr>
	<tr>
		<td class="renderable">Energy: </td><td class="renderable"><span class="ENERGY"><%=ENERGY%></span></td><td class="renderable"> keV</td>
	</tr>
	<tr>
		<td class="renderable">Beamsize: </td><td class="renderable"><span class="PREFERREDBEAMSIZEX"><%=PREFERREDBEAMSIZEX%></span>×<span class="PREFERREDBEAMSIZEY"><%=PREFERREDBEAMSIZEY%></span></td><td class="renderable"> mm</td>
	</tr>
</table>