<table>
    <tr>
        <td class="renderable">Sequence #</td>
        <td class="renderable"><input type="text" name="SEQUENCENUMBER" value="<%-SEQUENCENUMBER%>" /></td>
        	<span><%=SEQUENCENUMBER%></span>
        	<a href="#" class="button movedown" title="Move later in the sequence"><i class="fa fa-chevron-down"></i></a>
        	<a href="#" class="button moveup" title="Move earlier in the sequence"><i class="fa fa-chevron-up"></i></a>
        </td>
    </tr>
    <tr>
        <td class="renderable">Start</td>
        <td class="renderable"><input type="text" name="START" value="<%-START%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Stop</td>
        <td class="renderable"><input type="text" name="STOP" value="<%-STOP%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Step</td>
        <td class="renderable"><input type="text" name="STEP" value="<%-STEP%>" /></td>
    </tr>
    <tr>
        <td class="renderable">Array</td>
        <td class="renderable"><input type="text" name="ARRAY" value="<%-ARRAY%>" /></td>
    </tr>
</table>
